
.evidence{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 60px;
}

.instruct-text {
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;

/*    width: 600px;
    text-align: center;
*/
}

.slide {
	/*pad the inside of the slide*/
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;

    /*center slide within the window*/
	margin: auto auto;
	margin-top: 0px;

	/*all elements in a slide will be centered by default*/
    text-align: center;

    border: 1px solid #04abe3;
    width: 800px;
    height: 600px;

    /*could explicitly set the following, but these are the defaults for me (chrome, linux)*/
    font-size: 20px;
    background-color: rgb(255,255,255);
}
